QPushButton {
	width:10px;
	height:10px;
	background-color:rgba(50,50,50,0);
	border-style:solid;
	border-radius:5px;
	border-width:1px;
	border-color:rgb(100,100,100);
	padding:2px;
	margin:2px;
}

QPushButton:hover {
	background-color:rgba(255,255,255,100);
	border-color:rgb(100,100,100);
}