QTreeWidget {
	color:rgb(255,255,255);
	background-color:rgba(0,0,0,0);
	selection-background-color:transparent;
}

QTreeWidget::item:hover {
	border:none;
	border-radius:5px;
	background-color:rgba(255,255,255,100);
}


